.title-schedule {
  color: #ffedd3;
  display: inline-block;
  font-size: 2em;
  margin: 0px;
  text-shadow: 2px 2px 8px #333;
}
.newspage{
  width: 62.5%;
  margin: 0 auto;
  position: relative;
  padding: 2em 0px;
}
.newspage-top{
  width: 100%;
}

.news-top-item-content{
  position: relative;
}
.news-top-item{
  position: relative;
  margin: 0px 10px;
  border:1px solid #ffc46f;
}
.watch-video{
  position: absolute;
  z-index: 9999999;
  bottom: 10px;
  left: 20px;
  text-transform: uppercase;
  color: #ffc46f;
  cursor: pointer;
}
.watch-video img{
  display: inline;
  vertical-align: middle;
}
.news-top-item::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url('../../images/bg-news-top.png');
  background-size: 100% 100%;
}
.news-top-item img{
  width: 100%;
}
.news-top-text{
  position: absolute;
  top: 10px;
  left: 10px;
}

.news-top-text p{
  font-size: 0.8em;
  text-align: left;
  font-weight: 600;
  margin: 0px;
  color: #ffc46f;
}
.news-top-text .news-top-title{
  text-transform: uppercase;
  color: #ffedd3;
  position: relative;
  font-size: 1em;
  padding-bottom: 10px;
}
.news-top-text .news-top-title::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 5px;
  width: 50px;
  height: 1px;
  background: #ffc46f;
}
.newspage-top .slick-dots{
  bottom: 10px;
}
.newspage-top .slick-dots li button:before{
  font-size: 10px;
  color: #565050;
}
.newspage-items {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.news-item {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding: 10px;
}
.news-item-content {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ffc46f;
}
.news-item-img{
  width: 100%;
}
.news-item .news-item-img img {
  width: 100%;
}
.news-item .news-item-text {
  display: flex;
  padding: 10px 10px;
  background: #150c21;
  margin-top: -5px;
  border-top: 1px solid #ffc46f;
  width: 100%;
}
.news-item .news-item-text-title {
  text-transform: uppercase;
  font-size: 1em;
  text-align: left;
  padding-right: 30px;
  font-weight: 600;
  color: #ffedd3;
  width: 80%;
  display: flex;
}
.news-item:hover .news-item-text-title {
  color: #ffc46f;
}
.news-item .news-item-text-day {
  color: #ffc46f;
  text-align: right;
}
.btn-seemore-div{
  width: 100%;
}
.btn-seemore {
  border: 1px solid #ffc46f;
  color: #ffc46f;
  background: #150c21;
  font-weight: 600;
  padding: 5px 15px;
  cursor: pointer;
  display: inline-block;
}
.newpage {
  padding: 30px 0px;
  width: 62.5%;
  margin: 0 auto;
}
.newpage-title{
  font-family: 'Massimo SemiBold';
  font-size: 1.5em;
  color: #ffc46f;
  text-transform: uppercase;
}
.newpage-post-by{
  font-size: 0.9em;
  color: #ffedd3;
}
.content-news-detail p{
  text-align: justify;
}
.content-related{
  border-top: 1px solid #e8e8e8;
  padding: 20px 0px;
}
.content-related-title{
  display: inline-block;
  background: #150c21;
  border: 1px solid #ffedd3;
  color: #ffedd3;
  font-size: 1.2em;
  font-weight: 600;
  padding: 5px 15px;
}
.content-related .news-item .news-item-text-title{
  padding-right: 0px;
  width: 100%;
}
.content-related-items{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.content-related-items .news-item{
  width: 32.33%;
  padding: 0px;
}
.content-related-items .news-item:nth-child(2){
  margin:0px 1.5%;
}
.content-related-items .news-item-content{
  border:none;
}
.content-related-items .news-item-text{
  padding: 10px 0px;
  border-top-width: 0px;
  background: none;
}
.content-related-items .news-item .news-item-img img{
  border:1px solid #ffc46f;
}
@media (max-width: 800px) and (min-height:480px){
  .newspage{
    width: 100%;
    padding-bottom: 8vh;
  }
  .news-top-item{
    margin: 0px;
  }
  .newspage .title-schedule{
    margin:2vh 0px;
  }
  .news-top-text{
    top: initial;
    bottom: 10px;
  }
  .newspage-top .slick-dots{
    display: none!important;
  }
  .newspage-items{
    width: 80%;
    margin:0 auto;
  }
  .news-item{
    width: 100%;
    padding: 5px 10px;
  }
}
