.schedulepageall {
  padding: 2em 0px;
}
.schedulepage {
  width: 85vw;
  margin-left: 15vw;
  text-align: center;
  position: relative;
}
.schedulepage .slick-slider {
  width: 90%;
  margin: 0 auto;
}
.schedulepage .slide-schedule-match {
  width: calc(90% + 50px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.slick-slide :focus {
  outline: none !important;
}
.slick-slide {
  box-shadow: none;
  border-color: none;
  color: none;
  background: none;
  outline: none;
}
.title-schedule {
  color: #ffedd3;
  display: inline-block;
  font-size: 2em;
  margin: 10px 0px;
  text-shadow: 2px 2px 8px #333;
}
.slide-day-match {
  border: 1px solid #ffc46f;
  background: rgba(25, 9, 28, 0.5);
}
.day-match {
  border-bottom: 1px solid #ffc46f;
  padding: 10px 0px;
  font-size: 1.5em;
  position: relative;
  font-weight: 600;
  font-family: 'Massimo SemiBold';
}
.day-match::before {
  content: '';
  position: absolute;
  height: 60%;
  width: 1px;
  background: #ffc46f;
  right: 0px;
  top: 20%;
}
.day-round {
  padding: 5px 0px 7px 0px;
  color: #635d64;
  font-weight: 700;
  font-family: 'ALP Antonio-Bold';
  text-transform: uppercase;
  font-size: 0.9em;
}
.slick-current .day-match {
  color: #ffc46f;
}
.slick-current .day-round {
  color: #fff;
}
.schedulepage .slick-prev:before {
  content: url('https://cdn.vn.garenanow.com/web/kg/aic2019/images/icons/arrow-left.png');
}
.schedulepage .slick-next:before {
  content: url('https://cdn.vn.garenanow.com/web/kg/aic2019/images/icons/arrow-right.png');
}
.schedulepage .slick-prev,
.schedulepage .slick-next {
  height: calc(100% + 2px);
  background: rgba(25, 9, 28, 0.5);
  border: 1px solid #ffc46f;
  width: 25px;
}
.schedulepage .slick-prev:hover,
.schedulepage .slick-prev:focus,
.schedulepage .slick-next:hover,
.schedulepage .slick-next:focus {
  background: rgba(25, 9, 28, 0.5);
}
.schedule-match-day {
  border: 1px solid #ffc46f;
  padding: 10px 15px;
  margin-top: 3vh;
  background: #170a1e;
  width: 70%;
  float: left;
  height: 66vh;
}
.schedule-match-day-items {
  height: 100%;
  padding-right: 15px;
  overflow: auto;
}
.schedule-match-day-items::-webkit-scrollbar {
  width: 3px;
}
.schedule-match-day-items::-webkit-scrollbar-thumb {
  background: #8c6746;
  border-radius: 0px;
}
.schedule-match-day-item {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #fff;
  border-top-width: 0px;
  border-image: url('https://cdn.vn.garenanow.com/web/kg/aic2019/images/line-match.png')
    1 round;
}
.match-time,
.match-view {
  width: 10%;
  text-align: left;
}
.match-time {
  font-size: 1em;
  font-weight: 600;
  font-family: 'ALP Antonio-Bold';
}
.match-view {
  text-align: right;
}
.match-teams {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.match-teams .team {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Massimo SemiBold';
  width: 42.5%;
  justify-content: flex-start;
}
.team-name-row {
  display: block;
  text-align: center;
  width: 100%;
}
.match-teams .team:nth-child(1) {
  justify-content: flex-end;
}
.match-teams .team.team-disable {
  opacity: 0.5;
}
.match-teams .team img {
  max-height: 40px;
  margin: 0px 10px;
}
.match-teams .match-bo {
  width: 15%;
}
.match-teams .match-bo span {
  display: block;
  font-size: 0.5em;
  font-weight: 700;
  position: relative;
  font-family: 'Massimo UltraLight';
  text-transform: uppercase;
}
.match-teams .match-bo span.score {
  font-size: 0.95em;
  font-family: 'Massimo Bold';
  display: inline-block;
}
.team-1 .score {
  position: relative;
}
.team-1 .score::before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-right: 6px solid #8bbfee;
  border-bottom: 3px solid transparent;
  top: 50%;
  left: -10px;
  transform: translate(0px, -50%);
}
.team-2 .score::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-left: 6px solid #8bbfee;
  border-bottom: 3px solid transparent;
  top: 50%;
  right: -10px;
  transform: translate(0px, -50%);
}
.match-view img {
  max-height: 15px;
  display: inline-block;
}
.match-view span {
  display: none;
}
.match-on .active-view,
.match-live .active-live,
.match-off .active-view {
  display: block;
  font-size: 0.7em;
}
.match-live .active-live svg.circle {
  padding: 2px;
  color: red;
}
.match-off a {
  pointer-events: none;
  cursor: no-drop;
  display: block;
  opacity: 0.5;
}
.standings {
  width: 30%;
  float: right;
  margin-top: 3vh;
  border: 1px solid #ffc46f;
  height: calc(56vh + 22px);
  background: #170b1f;
  height: 66vh;
}
.standings ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  display: block;
  border-bottom: 1px solid #ffc46f;
}
.standings ul li {
  width: 50%;
  display: inline-block;
  padding: 15px 0px;
  font-size: 1.1em;
  line-height: 1em;
  font-weight: 600;
  color: #ffc46f;
  opacity: 0.5;
  font-family: 'Massimo SemiBold';
}
.standings ul li:first-child {
  border-right: 1px solid #ffc46f;
}
.standings .react-tabs {
  height: 100%;
}
.standings .react-tabs .react-tabs__tab-panel {
  height: calc(100% - 4em);
  display: none;
}
.standings .react-tabs .react-tabs__tab-panel--selected {
  display: block;
}
.standings .react-tabs .react-tabs__tab-panel img {
  width: 100%;
  max-height: 100%;
}
.standings .react-tabs .react-tabs__tab--selected {
  opacity: 1;
}
.active-schedule-mb {
  display: none;
}
@media (max-width: 767px) and (min-height: 480px) {
  .schedulepage,
  .active-schedule-mb {
    width: 90%;
    margin: 0 auto;
  }
  .match-live .active-live svg.circle {
    padding: 0.1px;
  }
  .match-teams .team img {
    max-height: 20px;
  }
  .match-teams .match-bo {
    margin: 0px;
    font-size: 1.4em;
  }
  .team-1 .score::before {
    border-top: 2px solid transparent;
    border-right: 4px solid #8bbfee;
    border-bottom: 2px solid transparent;
  }
  .team-2 .score::after {
    border-top: 2px solid transparent;
    border-left: 4px solid #8bbfee;
    border-bottom: 2px solid transparent;
  }
  .schedulepage .slick-slider {
    width: calc(100% - 50px);
  }
  .schedulepage .slide-schedule-match {
    width: 100%;
  }
  .schedule-match-day {
    margin-top: 1vh;
  }
  .schedule-match-day,
  .standings {
    width: 100%;
    height: 56vh;
  }
  .match-teams .team {
    font-size: 2em;
  }
  .active-schedule-mb {
    margin: 2% auto;
    border: 1px solid #ffc46f;
    font-size: 3em;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Massimo SemiBold';
  }
  .active-schedule-mb div {
    width: 50%;
    text-align: center;
    padding: 5px;
  }
  .active-schedule-mb .active-schedule-mb-item {
    border-right: 1px solid #ffc46f;
  }
  .active-schedule-match,
  .active-standing {
    color: #ffc46f;
  }
  .schedulepage .schedule-match-day,
  .schedulepage .standings {
    display: none;
  }
  .schedulepage-match-active .schedule-match-day,
  .schedulepage-standing-active .standings {
    display: block;
  }
  .standings ul {
    font-size: 2em;
  }
  .standings .react-tabs .react-tabs__tab-panel img {
    height: calc(100% - 5em);
  }
  .day-match {
    font-size: 2em;
    padding: 6px;
  }
  .day-round,
  .match-time {
    font-size: 1.3em;
  }
  .match-on .active-view,
  .match-live .active-live,
  .match-off .active-view {
    font-size: 0.9em;
  }
}
