*{
  box-sizing: border-box;
}
@font-face {
	font-family: 'ALP Antonio-Bold';
	src: url('./fonts/ALP Antonio-Bold.eot');
	src: local('☺'), url('fonts/ALP Antonio-Bold.woff') format('woff'), url('fonts/ALP Antonio-Bold.ttf') format('truetype'), url('fonts/ALP Antonio-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Antonio-Regular';
	src: url('./fonts/Antonio-Regular.eot');
	src: local('☺'), url('fonts/Antonio-Regular.woff') format('woff'), url('fonts/Antonio-Regular.ttf') format('truetype'), url('fonts/Antonio-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Massimo SemiBold';
	src: url('./fonts/Massimo SemiBold.eot');
	src: local('☺'), url('fonts/Massimo SemiBold.woff') format('woff'), url('fonts/Massimo SemiBold.ttf') format('truetype'), url('fonts/Massimo SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Massimo UltraLight';
	src: url('fonts/Massimo UltraLight.eot');
	src: local('☺'), url('fonts/Massimo UltraLight.woff') format('woff'), url('fonts/Massimo UltraLight.ttf') format('truetype'), url('fonts/Massimo UltraLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-size: calc(0.1em + 1vw);
  position: relative;
}

#root{
  min-height: 90vh;
  display: flex;
  position: relative;
}
body::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top:0px;
  left: 0px;
  background: rgba(0,0,0,0.4);
}
.main{
  width: 100%;
  min-height: 90%;
  position: relative;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a,a:hover,a:focus{
  text-decoration: none;
  color: #fff;
}
.scroll-up-menu,.scroll-down-menu{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  height: 1.5em;
  z-index: 9999;
}
.scroll-up-menu img,.scroll-down-menu img{
  width: 100%;
  height: 100%;
}
.scroll-up-menu{
  top:5px;
}
.scroll-down-menu{
  bottom: 0;
}
/* sidebar css */
.bnt-sidebar{
  font-size: 1.5em;
  text-align: center;
}
.sidebar ul,.sidebar li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar{
  position: fixed;
  width: 4.6vw;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0px;
  left: 0px;
  z-index: 9999999;
  transition: all 0.05s;
}
.sidebar .logo-aic{
  max-width: 68%;
  margin: 5% 0 0 5%;
}
.top-sidebar{
  top: 10px;
  position: relative;
  margin-bottom: 20%;
}
.top-sidebar .btn-close-menu{
  display: none;
}
.close-menu{
  font-size: 2em;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar li{
  font-size: calc(0.1em + 1vw);
  text-transform: uppercase;
  font-weight: 600;
  padding: 1em 0px;
  border-bottom: 1px solid #fff;
  border-image: url(./images/sidebar-line.png) 1 round;
  position: relative;
  text-align: center;
}
.sidebar li span{
  display: none;
}
.sidebar li svg{
  margin-right: 5%;
}
.sidebar.open-sidebar .btn-close-menu{
  display: block;
}
.sidebar.open-sidebar .bnt-sidebar{
  display: none;
}
.sidebar.open-sidebar{
  width: 15vw;
}
.sidebar.open-sidebar li{
  text-align: left;
  padding-left: 10%;
}
.sidebar.open-sidebar li span{
  display: inline-block;
  font-family: 'ALP Antonio-Bold';
}
.sidebar-item img{
  height: 1em;
  margin-bottom: -1px;
  margin-right: 5px;
  filter:brightness(1000);
}
.sidebar li.active a,.sidebar li:hover a{
  color: #ffc46f;
}
.sidebar li.active .sidebar-item img,.sidebar li:hover .sidebar-item img{
  filter:brightness(1);
}
.sidebar.open-sidebar li.active::before,.sidebar.open-sidebar li:hover::before{
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background: #ffc46f;
  left: 0px;
  top: 0px;
  -webkit-box-shadow: -1px 0px 13px 2px #ffc46f;
  -moz-box-shadow: -1px 0px 13px 2px #ffc46f;
  box-shadow: -1px 0px 13px 2px #ffc46f;
}
.language{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}
.language .select-language{
  border:none;
  background: none;
  color: #fff;
}
.language .select-language:focus{
  outline: none;
}
.language .select-language option{
  color: #000;
}
.play-game{
  display: none;
  position: absolute;
  bottom: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1.2em + 1vw);
  font-weight: 700;
  z-index: 999999;
}
.play-game a{
  display: inline-block;
  background: #0f0510;
  color: #ffc46f;
  border:1px solid #ffc46f;
  padding: 5px 15px;
}
.title-teams,.title-schedule{
  margin:0px!important;
  font-family: 'Massimo SemiBold';
}
.back-home a{
  display: inline-block;
  border:1px solid #ffc46f;
  background: rgba(0,0,0,0.8);
  text-align: center;
  color: #ffedd3;
}
.back-home a div:first-child{
  padding: 10px 0px;
}
.back-home a div:last-child{
  padding: 5px 10px;
  border-top: 1px solid #ffc46f;
  font-size: 0.7em;
  font-weight: 700;
}
@media (max-width: 800px) and (min-height:480px){
  .back-home{
    display: none;
  }
  .title-teams,.title-schedule{
    font-size:4em!important;
    margin:1% 0px!important;
  }
  .language,.scroll-down-menu,.scroll-up-menu{
    display: none;
  }
  .play-game{
    display: block;
  }
  .sidebar{
    background: none;
  }
  .bnt-sidebar{
    font-size:2em;
  }
  .sidebar ul{
    display: none;
  }
  .sidebar.open-sidebar{
    width: 50vw;
    background: rgba(0,0,0,0.9);
  }
  .sidebar.open-sidebar .btn-close-menu{
    font-size: 2em;
  }
  .top-sidebar{
    left: 10px;
  }
  .sidebar.open-sidebar .top-sidebar{
    top:0px;
    left: 0px;
  }
  .sidebar.open-sidebar ul{
    display: block;
  }
  .sidebar.open-sidebar li{
    font-size: 2.5em;
  }
}