*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-size: calc(0.1em + 1vw);
}
#root{
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  left: 0px;
  top:0px;
}
.main{
  width: 100%;
  min-height: 90%;
  position: relative;
  text-align: center;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a,a:hover,a:focus{
  text-decoration: none;
  color: #fff;
}
.scroll-up-menu,.scroll-down-menu{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.5em;
  color: #ffc46f;
  border:1px solid #ffc46f;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(0,0,0,0.7);
  z-index: 9999;
}
.scroll-up-menu{
  top:0;
  transform: translate(-50%,-110%);
}
.scroll-down-menu{
  bottom: 0;
  transform: translate(-50%,110%);
}
/* sidebar css */
.bnt-sidebar{
  font-size: 1.5em;
  text-align: center;
}
.sidebar ul,.sidebar li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar{
  position: fixed;
  width: 4.6vw;
  height: 100%;
  background: rgba(0,0,0,0.5);
  top: 0px;
  left: 0px;
  z-index: 9;
  transition: all 0.05s;
}
.sidebar .logo-aic{
  max-width: 68%;
  margin: 5% 0 0 5%;
}
.top-sidebar{
  top: 10px;
  position: relative;
  margin-bottom: 20%;
}
.top-sidebar .btn-close-menu{
  display: none;
}
.close-menu{
  font-size: 2em;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar li{
  font-size: calc(0.1em + 1vw);
  text-transform: uppercase;
  font-weight: 600;
  padding: 1em 0px;
  border-bottom: 1px solid #fff;
  border-image: url(./images/sidebar-line.png) 1 round;
  position: relative;
  text-align: center;
}
.sidebar li span{
  display: none;
}
.sidebar li svg{
  margin-right: 5%;
}
.sidebar.open-sidebar .btn-close-menu{
  display: block;
}
.sidebar.open-sidebar .bnt-sidebar{
  display: none;
}
.sidebar.open-sidebar{
  width: 15vw;
}
.sidebar.open-sidebar li{
  text-align: left;
  padding-left: 10%;
}
.sidebar.open-sidebar li span{
  display: inline-block;
}
.sidebar li.active a,.sidebar li:hover a{
  color: #ffc46f;
}
.sidebar.open-sidebar li.active::before,.sidebar.open-sidebar li:hover::before{
  position: absolute;
  content: "";
  width: 5px;
  height: 100%;
  background: #ffc46f;
  left: 0px;
  top: 0px;
  -webkit-box-shadow: -1px 0px 13px 2px #ffc46f;
  -moz-box-shadow: -1px 0px 13px 2px #ffc46f;
  box-shadow: -1px 0px 13px 2px #ffc46f;
}
.language{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 9999;
}
.language .select-language{
  border:none;
  background: none;
  color: #fff;
}
.language .select-language:focus{
  outline: none;
}
.language .select-language option{
  color: #000;
}
.play-game{
  display: none;
  position: fixed;
  bottom: 2vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: calc(1.2em + 1vw);
  font-weight: 700;
}
.play-game a{
  display: inline-block;
  background: #0f0510;
  color: #ffc46f;
  border:1px solid #ffc46f;
  padding: 5px 15px;
}
@media (max-width: 800px) and (min-height:480px){
  .language,.scroll-down-menu,.scroll-up-menu{
    display: none;
  }
  .play-game{
    display: block;
  }
  .sidebar{
    background: none;
  }
  .bnt-sidebar{
    font-size:2em;
  }
  .sidebar ul{
    display: none;
  }
  .sidebar.open-sidebar{
    width: 50vw;
    background: rgba(0,0,0,0.9);
  }
  .sidebar.open-sidebar .btn-close-menu{
    font-size: 2em;
  }
  .top-sidebar{
    left: 10px;
  }
  .sidebar.open-sidebar .top-sidebar{
    top:0px;
    left: 0px;
  }
  .sidebar.open-sidebar ul{
    display: block;
  }
  .sidebar.open-sidebar li{
    font-size: 2.5em;
  }
}